# Week 7: Introduction to Pandas, Working with the NYT Best Seller list


In this week, we introduce some of the basics of Pandas, a powerful Python library for working with tabular data like CSV files. And we start working with a new dataset ‚Äî which does not contain any actual "text"; just metadata. What can we learn from it??

We will cover how to:

* Import Pandas
* Read in a CSV or TSV file with Pandas
* Explore and filter data
* Make simple plots and data visualizations

Statistical concepts:
* Mode, median, quartiles (from .describe() output)

Today's lecture follows Melanie Walsh's chapter [Pandas Basics ‚Äî Part 1](https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html)


## Dataset

The New York Times Hardcover Best Sellers dataset comes from the Post45 Data Collective: https://data.post45.org/our-data/

# What Is (Are?) Pandas üêºüêº

**Pandas** is a powerful Python library for working with tabular data (aka spreadsheet-like stuff). If (nay, **when**) you find yourself working as a Data Scientist, you will use a whole lot of Pandas to make your life easier. Think of it as a way of performing all kinds of complicated tasks without having to code everything out in massive coding blocks.

Still, Pandas will feel a bit like a whole new language. Our knowledge of Python to this point takes us a long way toward understanding it. But it will still take some getting-used-to.

# Importing Pandas

Like any Python library (such as `re`, our regular expressions library), we need to call Pandas down the firepole in order to use it!

![Fireman's pole](firemanspole.gif)

Or perhaps this is a little closer to what we'll be up to in this lesson??

![Panda descending tree inelegantly](panda-climb.gif)

The line of code below both `import`s Pandas and also gives is a shorter name, which will be handy for us, since we'll be typing it out quite a lot...

In [ ]:
import pandas as pd

Let's just go right ahead and load the *New York Times* Best Seller List that we've been discussing, and which your ENG286 Instuctors Team has placed in the same folder in which this lecture lives. It's called `nyt_dataset.tsv`

This dataset comes to us as a "TSV" (tab-separated values) ‚Äî which is exactly like a CSV (comma-separated values), except that the values are separated by... tabs (the `\t` character)... rather than commas (`,`s).

The below line of code invokes the `pd.read_csv()` method, which is a built-in bit of code that Pandas provides us to quickly load CSV or TSV files. We tell the method that this is a **T**SV with the `sep="\t"` parameter.

It loads the file and stores it in a variable we've named `nyt_df`.

In [ ]:
nyt_df = pd.read_csv('nyt_full.tsv', sep="\t")

Pandas creates a new **data type** for us: a special data type all its own called a **DataFrame**, which you can think of as a spreadsheet, with some advanced capabilities we'll be exploring throughout the rest of the semester...

In [ ]:
type(nyt_df)

Let's have a look at what's inside...

In [ ]:
nyt_df

There are a few things to note about this output:

- **Index**
    - The bolded ascending numbers in the very left-hand column of the DataFrame is called the Pandas Index. You can select rows based on the Index.
    - By default, the Index is a sequence of numbers starting with zero. However, you can change the Index to something else, such as one of the columns in your dataset.

- **Truncation**
    - The DataFrame is truncated, signaled by the ellipses (`...`) in the middle of every column. To display all the rows, we would need to tweak Pandas's settings. For now, this is fine.
    
- **Rows x Columns**
    - Pandas reports how many rows and columns are in this dataset at the bottom of the output (60386 rows √ó 6 columns). 
    - **Let's have a look at all these columns and dimensions and try to wrap our heads around what's actually in this DataFrame!**

# Display the First `x` Rows

If you just want to look at the first `x` number of rows, you can use the `.head()` method, as below.

In [ ]:
nyt_df.head(10)

# Display a Random Sample

If you want to look at a random sample of `x` rows, you can use the `.sample()` method.

In [ ]:
nyt_df.sample(10)

# Get Info

If you'd like to see basic information about what's in your DataFrame, you can use the `.info()` method.

In [ ]:
nyt_df.info()

This tells you how many "non-null" (or non-empty) entries are in each column, as well as the kind of data in each column.

Our friend Pandas has their own name for familiar Python data types. Pandas speak their own language, after all; so if we want their cuddles, we must learn this language.

- **object**: string
- **int64**: integer
- **float64**: float
- **datetime64**: date time (a data type we haven't encountered yet)

# Calculate Summary Statistics

We can use the `.describe()` method on a Pandas DataFrame to see summary statistics about the contents of each column. By default, `.describe()` only shows you summaries for three columns, but we're going to ask Pandas to give us summary statistics for all the columns, which we'll do with the `include="all"` parameter.

In [ ]:
nyt_df.describe(include="all")

Anywhere that Pandas can't calculate the kind of thing we're asking for, we'll see `NaN`, which is Pandas's way of saying "data is missing."

We're all very well equipped to understand the summary stats for the columns containig strings (aka `object`s).
- **unique**: number of different strings present. **What does that mean here??**
- **top**: most commonly occurring string. **What does that mean here??**
- **freq**: the number of times that the top unique string occurs. **What does that mean here??**


### Let's turn things over to Mary to explain the summary stats for numerical columns...!

# Selecting Columns

If we want to select only a single column of a DataFrame, we can use a similar syntax to the one we used for slicing strings and lists: name of the Pandas DataFrame, then a `[`, then the name of the column we want to select between quotation marks, then a `]`.

In [ ]:
nyt_df['author']

This output is another special Pandas data type: a **`Series`.** You can think of a Pandas Series as like a spreadsheet with a single column... or as something very much like a **`list`** in Python.

In [ ]:
type(nyt_df['author'])

If we wanted to display it as a DataFrame, we would need to input a **list of of strings** (remember, lists go in square brackets) containing column names, rather than a single string, as above. We thus end up with "double square brackets" here, though the two levels of square brackets mean different things: the outer ones indicate that we are "subsetting" (like slicing), and the inner ones indicate that we are passing in a list of strings.

In [ ]:
nyt_df[['author']]

In [ ]:
type(nyt_df[['author']])

We can select **multiple** columns, and display them as a DataFrame, by again passing in a **list of strings**, each corresponding to a column name.

In [ ]:
nyt_df[['week', 'rank', 'author', 'title']]

# Counting Values

Let's do some fun stuff with Pandas!!! 

The `.value_counts()` method counts the number of **unique items** in a particular column. The line of code below shows us the most frequently occuring **unique items** in the "title" column, ranked from highest to lowest. 

**What exactly is this showing us**?

In [ ]:
nyt_df['title'].value_counts()

This does the same for the "author" column. **What exactly is it showing us**?

In [ ]:
nyt_df['author'].value_counts()

The outputs above are those `Series` objects again. I mentioned above that `Series` are a lot like `list`s, and indeed we can slice them just like `list`s if we want to see a particular number of values...

In [ ]:
nyt_df['author'].value_counts()[:20]

In [ ]:
nyt_df['title'].value_counts()[:20]

The below line of code contains the average number of times that a given NYT Best Seller appears in the list. Can you find what that number is? Can you explain how this line of code works? Do you understand why we've stacked `.value_counts()` and `.describe()`?

In [ ]:
nyt_df['title'].value_counts().describe()

# Make and Save Plots

Pandas is also very handy for making **plots**, aka visualizations of data. All you need to do is add the `.plot()` and some parameters. Here's the simplest `.plot()` command I can think of, which specifies that we want a **bar plot**.

The types of plots in Pandas are are:

- `bar` or `barh` for bar plots
- `hist` for histogram
- `box` for boxplot
- `kde` or `density` for density plots
- `area` for area plots
- `scatter` for scatter plots
- `hexbin` for hexagonal bin plots
- `pie` for pie plots

In [ ]:
nyt_df['author'].value_counts()[:10].plot(kind="bar")

### Now, we're going to immediately get into the habit of **tucking our plots into variables**. 

### This is how we're asking you to make a plot in your homework, so take note!!

Here's how we're asking you to make and display plots in Pandas.

In [ ]:
plot = nyt_df['author'].value_counts()[:10].plot(kind="bar")
print(plot)

Okay, let's add a title to that plot, using the `title` parameter (and a `\n` "newline" character!)

In [ ]:
plot = nyt_df['author'].value_counts()[:10].plot(kind='bar', title='NYT Best Sellers:\nTen Authors Who Appear Most Frequently')
print(plot)

And let's try making two different kinds of plots.

First, a `barh` or **horizontal bar**...

In [ ]:
plot = nyt_df['author'].value_counts()[:10].plot(kind='barh', title='NYT Best Sellers:\nTen Authors Who Appear Most Frequently')
print(plot)

Here is a `pie` plot ‚Äî which could potentially be misconstrued in this context! **Why is this a potentially misleading plot?**

In [ ]:
plot = nyt_df['author'].value_counts()[:10].plot(kind='pie', figsize=(10, 10), title='NYT Best Sellers:\nTen Authors Who Appear Most Frequently')
print(plot)

Now, if we wanted to **save** our pretty plot as a file, we could do so by applying the `.figure.savefig()` method to the variable containing our plot, and providing a filename as the argument.

In [ ]:
plot = nyt_df['author'].value_counts()[:10].plot(kind='bar', title='NYT Best Sellers:\nTen Authors Who Appear Most Frequently')
plot.figure.savefig('NYT-top10authors-barchart.png')

# Filtering Data

Let's say we wanted to produce a DataFrame object that ONLY included rows in which Toni Morrison is the author. We could do so with the following line of code:

In [ ]:
nyt_df[nyt_df['author'] == 'Toni Morrison']

The syntax of the above line is a bit tortured, with its square brackets within square brackets. From this point onward in the semester, we're going to get used to somewhat convoluted ‚Äî but useful! ‚Äî coding syntax, sometimes just accepting that it works and learning how to modify it to get what we want. For instance, without COMPLETELY understanding the above line of code, I bet you could figure out how to show me all the rows in which Virginia Woolf is the author!

But if you're curious to know what's actually going on, let's see what's inside this bit of code ‚Äî i.e., the code that comes... `nyt_df[ RIGHT HERE ]` in the line of code above.

In [ ]:
nyt_df['author'] == 'Toni Morrison'

In [ ]:
type(nyt_df['author'] == 'Toni Morrison')

As you can see, this returns `Series` containng `True` or `False` for every row in the DataFrame: it is, in other words a `**bolean Series**`.

Let's put that **boolean Series** in its own variable.

In [ ]:
morrison_filter = nyt_df['author'] == 'Toni Morrison'
type(morrison_filter)

Pandas has built-in functionality whereby, if "subset" or "slice" a DataFrame with a **boolean Series** of the same length as that DataFrame, it will produce a new DataFrame that only contains the rows marked `True` in the boolean Series.

The below line of code is absolutely equivalent to `nyt_df[nyt_df['author'] == 'Toni Morrison']` encountered earlier ‚Äî just a bit easier to read and understand!

In [ ]:
nyt_df[morrison_filter]

Let's capture that output -‚Äî that 115 row x 6 column DataFrame -- in a variable. The below lines of code do exactly the same thing.

In [ ]:
morrison_nyt = nyt_df[nyt_df['author'] == 'Toni Morrison']
morrison_nyt = nyt_df[morrison_filter]

Let's have a look at that variable...

In [ ]:
morrison_nyt

Can you think of the line of code you would need to use to display all the rows in the dataset for novels titled "BELOVED"? (As you've noticed, book titles in this dataset are in ALL CAPS)

How about a line of code that could create a new DataFrame that only contains titles that achieved the rank of #1 on the best seller list?